#s-2171d4db-6a3b-421b-aa83-d6bc51abef94 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2171d4db-6a3b-421b-aa83-d6bc51abef94 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2171d4db-6a3b-421b-aa83-d6bc51abef94 #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2171d4db-6a3b-421b-aa83-d6bc51abef94 #s-Button_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2171d4db-6a3b-421b-aa83-d6bc51abef94 #s-Button_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2171d4db-6a3b-421b-aa83-d6bc51abef94 #s-Button_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2171d4db-6a3b-421b-aa83-d6bc51abef94 #s-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2171d4db-6a3b-421b-aa83-d6bc51abef94 #s-Button_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2171d4db-6a3b-421b-aa83-d6bc51abef94 #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2171d4db-6a3b-421b-aa83-d6bc51abef94 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2171d4db-6a3b-421b-aa83-d6bc51abef94 #s-Button_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2171d4db-6a3b-421b-aa83-d6bc51abef94 #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2171d4db-6a3b-421b-aa83-d6bc51abef94 #s-Button_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2171d4db-6a3b-421b-aa83-d6bc51abef94 #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2171d4db-6a3b-421b-aa83-d6bc51abef94 #s-Button_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2171d4db-6a3b-421b-aa83-d6bc51abef94 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2171d4db-6a3b-421b-aa83-d6bc51abef94 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2171d4db-6a3b-421b-aa83-d6bc51abef94 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-2171d4db-6a3b-421b-aa83-d6bc51abef94 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}