#s-3f92d4ed-1788-47c1-9cfc-3dcd7d2093ba #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f92d4ed-1788-47c1-9cfc-3dcd7d2093ba #s-Rich_text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f92d4ed-1788-47c1-9cfc-3dcd7d2093ba #s-Button_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f92d4ed-1788-47c1-9cfc-3dcd7d2093ba #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f92d4ed-1788-47c1-9cfc-3dcd7d2093ba #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f92d4ed-1788-47c1-9cfc-3dcd7d2093ba #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f92d4ed-1788-47c1-9cfc-3dcd7d2093ba #s-Button_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f92d4ed-1788-47c1-9cfc-3dcd7d2093ba #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f92d4ed-1788-47c1-9cfc-3dcd7d2093ba #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f92d4ed-1788-47c1-9cfc-3dcd7d2093ba #s-Button_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f92d4ed-1788-47c1-9cfc-3dcd7d2093ba #s-Button_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f92d4ed-1788-47c1-9cfc-3dcd7d2093ba #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=79) ;
  filter: alpha(opacity=79) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f92d4ed-1788-47c1-9cfc-3dcd7d2093ba #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f92d4ed-1788-47c1-9cfc-3dcd7d2093ba #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f92d4ed-1788-47c1-9cfc-3dcd7d2093ba #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f92d4ed-1788-47c1-9cfc-3dcd7d2093ba #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f92d4ed-1788-47c1-9cfc-3dcd7d2093ba #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-3f92d4ed-1788-47c1-9cfc-3dcd7d2093ba > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}