#s-44a1939a-9cbb-42a9-a0de-da183d1328f2 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-44a1939a-9cbb-42a9-a0de-da183d1328f2 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-44a1939a-9cbb-42a9-a0de-da183d1328f2 #s-Dynamic_Panel_3 {
  position: absolute;
  top: 164px;
  left: 15px;
}
#s-44a1939a-9cbb-42a9-a0de-da183d1328f2 #s-Panel_3 {
  width: 326px;
  height: 286px;
  background-color: #FFFFFF;
  background-repeat: repeat-x;
  background-position: top left;
  background-attachment: scroll;
  background-image: url('../../images/bd22b9db-4393-4cd6-9bfe-44844bbe9f58.png');
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #BCBCBC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #BCBCBC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #BCBCBC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #BCBCBC;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  box-shadow: none;
  overflow: hidden;
}
#s-44a1939a-9cbb-42a9-a0de-da183d1328f2 #s-Panel_3 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-44a1939a-9cbb-42a9-a0de-da183d1328f2 #s-Panel_3 .verticalalign {
  vertical-align: top;
}
#s-44a1939a-9cbb-42a9-a0de-da183d1328f2 #s-Label_1 {
  position: absolute;
  top: 22px;
  left: 13px;
  width: 198px;
  height: 21px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Tahoma,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 12.0pt;
}
#s-44a1939a-9cbb-42a9-a0de-da183d1328f2 #s-Label_1 .valign {
  vertical-align: middle;
}
#s-44a1939a-9cbb-42a9-a0de-da183d1328f2 #s-Dynamic_Panel_4 {
  position: absolute;
  top: 56px;
  left: 0px;
}
#s-44a1939a-9cbb-42a9-a0de-da183d1328f2 #s-Panel_4 {
  width: 327px;
  height: 171px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #BCBCBC;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-44a1939a-9cbb-42a9-a0de-da183d1328f2 #s-Panel_4 .verticalalign {
  vertical-align: top;
}
#s-44a1939a-9cbb-42a9-a0de-da183d1328f2 #s-Image_1 {
  position: absolute;
  top: 54px;
  left: 377px;
  width: 60px;
  height: 71px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-44a1939a-9cbb-42a9-a0de-da183d1328f2 #s-Label_2 {
  position: absolute;
  top: 126px;
  left: 366px;
  width: 110px;
  height: 21px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Tahoma,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 8.0pt;
}
#s-44a1939a-9cbb-42a9-a0de-da183d1328f2 #s-Label_2 .valign {
  vertical-align: middle;
}
#s-44a1939a-9cbb-42a9-a0de-da183d1328f2 #s-Dynamic_Panel_5 {
  position: absolute;
  top: 139px;
  left: 371px;
}
#s-44a1939a-9cbb-42a9-a0de-da183d1328f2 #s-Panel_5 {
  width: 106px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-44a1939a-9cbb-42a9-a0de-da183d1328f2 #s-Panel_5 .verticalalign {
  vertical-align: middle;
}
#s-44a1939a-9cbb-42a9-a0de-da183d1328f2 #s-Image_2 {
  width: 12px;
  height: 13px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-44a1939a-9cbb-42a9-a0de-da183d1328f2 #s-Image_3 {
  width: 12px;
  height: 13px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-44a1939a-9cbb-42a9-a0de-da183d1328f2 #s-Image_4 {
  width: 14px;
  height: 12px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-44a1939a-9cbb-42a9-a0de-da183d1328f2 #s-Image_5 {
  width: 12px;
  height: 13px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-44a1939a-9cbb-42a9-a0de-da183d1328f2 #s-Image_6 {
  width: 12px;
  height: 13px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-44a1939a-9cbb-42a9-a0de-da183d1328f2 #s-Line_1 {
  position: absolute;
  top: 97px;
  left: 164px;
  width: 117px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #BCBCBC;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  box-shadow: none;
}
#s-44a1939a-9cbb-42a9-a0de-da183d1328f2 #s-Image_7 {
  position: absolute;
  top: 87px;
  left: 228px;
  width: 30px;
  height: 29px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-44a1939a-9cbb-42a9-a0de-da183d1328f2 #s-Rich_text_2 {
  position: absolute;
  top: 16px;
  left: 9px;
  width: 294px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Tahoma,Arial;
}
#s-44a1939a-9cbb-42a9-a0de-da183d1328f2 #s-Rich_text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-44a1939a-9cbb-42a9-a0de-da183d1328f2 #s-Rich_text_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Tahoma,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-44a1939a-9cbb-42a9-a0de-da183d1328f2 #s-Rich_text_2 span#rtr-s-Rich_text_2_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Tahoma,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-44a1939a-9cbb-42a9-a0de-da183d1328f2 #s-Rich_text_2 span#rtr-s-Rich_text_2_1 {
  color: #0080C0;
  text-align: left;
  text-decoration: none;
  font-family: Tahoma,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-44a1939a-9cbb-42a9-a0de-da183d1328f2 #s-Rich_text_2 span#rtr-s-Rich_text_2_2 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Tahoma,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-44a1939a-9cbb-42a9-a0de-da183d1328f2 #s-Rich_text_2 span#rtr-s-Rich_text_2_3 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Tahoma,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-44a1939a-9cbb-42a9-a0de-da183d1328f2 #s-Rich_text_2 span#rtr-s-Rich_text_2_4 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Tahoma,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-44a1939a-9cbb-42a9-a0de-da183d1328f2 #s-Image_8 {
  position: absolute;
  top: 50px;
  left: 1px;
  width: 34px;
  height: 35px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-44a1939a-9cbb-42a9-a0de-da183d1328f2 #s-Label_3 {
  position: absolute;
  top: 48px;
  left: 44px;
  width: 169px;
  height: 21px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Tahoma,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 8.0pt;
}
#s-44a1939a-9cbb-42a9-a0de-da183d1328f2 #s-Label_3 .valign {
  vertical-align: middle;
}
#s-44a1939a-9cbb-42a9-a0de-da183d1328f2 #s-Rich_text_3 {
  position: absolute;
  top: 70px;
  left: 44px;
  width: 185px;
  height: 64px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Tahoma,Arial;
}
#s-44a1939a-9cbb-42a9-a0de-da183d1328f2 #s-Rich_text_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-44a1939a-9cbb-42a9-a0de-da183d1328f2 #s-Rich_text_3 span {
  color: #787877;
  text-align: left;
  text-decoration: none;
  font-family: Tahoma,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-44a1939a-9cbb-42a9-a0de-da183d1328f2 #s-Rich_text_3 span#rtr-s-Rich_text_3_0 {
  color: #787877;
  text-align: left;
  text-decoration: none;
  font-family: Tahoma,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-44a1939a-9cbb-42a9-a0de-da183d1328f2 #s-Label_4 {
  position: absolute;
  top: 146px;
  left: 1px;
  width: 74px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #3960A0;
  text-align: left;
  text-decoration: none;
  font-family: Tahoma,Arial;
  font-size: 7.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 7.0pt;
}
#s-44a1939a-9cbb-42a9-a0de-da183d1328f2 #s-Label_4 .valign {
  vertical-align: middle;
}
#s-44a1939a-9cbb-42a9-a0de-da183d1328f2 #s-Image_9 {
  position: absolute;
  top: 70px;
  left: 263px;
  width: 50px;
  height: 70px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-44a1939a-9cbb-42a9-a0de-da183d1328f2 #s-Dynamic_Panel_6 {
  position: absolute;
  top: 237px;
  left: 0px;
}
#s-44a1939a-9cbb-42a9-a0de-da183d1328f2 #s-Panel_6 {
  width: 325px;
  height: 40px;
  background-color: #F2F2F2;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D8D8D8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D8D8D8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D8D8D8;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-44a1939a-9cbb-42a9-a0de-da183d1328f2 #s-Panel_6 .verticalalign {
  vertical-align: top;
}
#s-44a1939a-9cbb-42a9-a0de-da183d1328f2 #s-Button_3 {
  position: absolute;
  top: 10px;
  left: 193px;
  padding-right: 5px;
  padding-left: 5px;
  width: 43px;
  height: 20px;
  background-color: #5972A8;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #314B85;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #314B85;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #314B85;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #314B85;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Tahoma,Arial;
  font-size: 7.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 7.0pt;
}
#s-44a1939a-9cbb-42a9-a0de-da183d1328f2 #s-Button_3 .valign {
  vertical-align: middle;
}
#s-44a1939a-9cbb-42a9-a0de-da183d1328f2 #s-Rich_text_4 {
  position: absolute;
  top: 12px;
  left: 13px;
  width: 181px;
  height: 18px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 7.0pt;
  font-family: Tahoma,Arial;
}
#s-44a1939a-9cbb-42a9-a0de-da183d1328f2 #s-Rich_text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-44a1939a-9cbb-42a9-a0de-da183d1328f2 #s-Rich_text_4 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Tahoma,Arial;
  font-size: 7.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-44a1939a-9cbb-42a9-a0de-da183d1328f2 #s-Rich_text_4 span#rtr-s-Rich_text_4_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Tahoma,Arial;
  font-size: 7.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-44a1939a-9cbb-42a9-a0de-da183d1328f2 #s-Rich_text_4 span#rtr-s-Rich_text_4_1 {
  color: #3B5998;
  text-align: left;
  text-decoration: none;
  font-family: Tahoma,Arial;
  font-size: 7.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-44a1939a-9cbb-42a9-a0de-da183d1328f2 #s-Rich_text_4 span#rtr-s-Rich_text_4_2 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Tahoma,Arial;
  font-size: 7.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-44a1939a-9cbb-42a9-a0de-da183d1328f2 #s-Button_4 {
  position: absolute;
  top: 10px;
  left: 254px;
  width: 68px;
  height: 20px;
  background-color: #F5F5F4;
  background-image: -moz-linear-gradient(top,#F5F5F4,#E1E1E1);
  background-image: -webkit-linear-gradient(top,#F5F5F4,#E1E1E1);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#F5F5F4), color-stop(100%,#E1E1E1));
  background-image: -o-linear-gradient(top,#F5F5F4,#E1E1E1);
  background-image: linear-gradient(to bottom,#F5F5F4,#E1E1E1);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #969696;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #969696;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #969696;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #969696;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Tahoma,Arial;
  font-size: 7.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 7.0pt;
}
#s-44a1939a-9cbb-42a9-a0de-da183d1328f2 #s-Button_4 .valign {
  vertical-align: middle;
}
.ui-page {
  overflow-x: hidden;
}
#s-44a1939a-9cbb-42a9-a0de-da183d1328f2 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}