#s-475872a2-9eb9-4c74-acd2-f1933edf934b #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-475872a2-9eb9-4c74-acd2-f1933edf934b #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-475872a2-9eb9-4c74-acd2-f1933edf934b #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-475872a2-9eb9-4c74-acd2-f1933edf934b #s-Button_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-475872a2-9eb9-4c74-acd2-f1933edf934b #s-Button_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-475872a2-9eb9-4c74-acd2-f1933edf934b #s-Button_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-475872a2-9eb9-4c74-acd2-f1933edf934b #s-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-475872a2-9eb9-4c74-acd2-f1933edf934b #s-Rich_text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-475872a2-9eb9-4c74-acd2-f1933edf934b #s-Button_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-475872a2-9eb9-4c74-acd2-f1933edf934b #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-475872a2-9eb9-4c74-acd2-f1933edf934b #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-475872a2-9eb9-4c74-acd2-f1933edf934b #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-475872a2-9eb9-4c74-acd2-f1933edf934b #s-Button_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-475872a2-9eb9-4c74-acd2-f1933edf934b #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-475872a2-9eb9-4c74-acd2-f1933edf934b #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-475872a2-9eb9-4c74-acd2-f1933edf934b #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-475872a2-9eb9-4c74-acd2-f1933edf934b #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-475872a2-9eb9-4c74-acd2-f1933edf934b #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-475872a2-9eb9-4c74-acd2-f1933edf934b #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-475872a2-9eb9-4c74-acd2-f1933edf934b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}