#s-6a2d42a4-d060-480d-88d1-225e8b28c87b #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6a2d42a4-d060-480d-88d1-225e8b28c87b #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6a2d42a4-d060-480d-88d1-225e8b28c87b #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6a2d42a4-d060-480d-88d1-225e8b28c87b #s-Button_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6a2d42a4-d060-480d-88d1-225e8b28c87b #s-Button_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6a2d42a4-d060-480d-88d1-225e8b28c87b #s-Button_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6a2d42a4-d060-480d-88d1-225e8b28c87b #s-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6a2d42a4-d060-480d-88d1-225e8b28c87b #s-Rich_text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6a2d42a4-d060-480d-88d1-225e8b28c87b #s-Button_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6a2d42a4-d060-480d-88d1-225e8b28c87b #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6a2d42a4-d060-480d-88d1-225e8b28c87b #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6a2d42a4-d060-480d-88d1-225e8b28c87b #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6a2d42a4-d060-480d-88d1-225e8b28c87b #s-Button_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6a2d42a4-d060-480d-88d1-225e8b28c87b #s-Button_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6a2d42a4-d060-480d-88d1-225e8b28c87b #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6a2d42a4-d060-480d-88d1-225e8b28c87b #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80) ;
  filter: alpha(opacity=80) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6a2d42a4-d060-480d-88d1-225e8b28c87b #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6a2d42a4-d060-480d-88d1-225e8b28c87b #s-Flat-button-dark {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6a2d42a4-d060-480d-88d1-225e8b28c87b #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6a2d42a4-d060-480d-88d1-225e8b28c87b #s-Flat-button-dark_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6a2d42a4-d060-480d-88d1-225e8b28c87b #s-Button_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6a2d42a4-d060-480d-88d1-225e8b28c87b #s-Label_20 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.7071067811865474,M12=0.7071067811865477,M21=-0.7071067811865477,M22=0.7071067811865474);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.7071067811865474,M12=0.7071067811865477,M21=-0.7071067811865477,M22=0.7071067811865474);
  margin-left: -5px;
  margin-top: -5px;
}
.ui-page {
  overflow-x: hidden;
}
#s-6a2d42a4-d060-480d-88d1-225e8b28c87b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}