#s-6a2d42a4-d060-480d-88d1-225e8b28c87b > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-6a2d42a4-d060-480d-88d1-225e8b28c87b > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-6a2d42a4-d060-480d-88d1-225e8b28c87b #s-Button_1 {
  position: absolute;
  top: 91px;
  left: 26px;
  width: 72px;
  height: 22px;
  background-color: #CCCCCC;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Rockwell,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 10.0pt;
}
#s-6a2d42a4-d060-480d-88d1-225e8b28c87b #s-Button_1 .valign {
  vertical-align: middle;
}
#s-6a2d42a4-d060-480d-88d1-225e8b28c87b #s-Button_2 {
  position: absolute;
  top: 91px;
  left: 121px;
  width: 69px;
  height: 22px;
  background-color: #CCCCCC;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Rockwell,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 10.0pt;
}
#s-6a2d42a4-d060-480d-88d1-225e8b28c87b #s-Button_2 .valign {
  vertical-align: middle;
}
#s-6a2d42a4-d060-480d-88d1-225e8b28c87b #s-Label_1 {
  position: absolute;
  top: 93px;
  left: 219px;
  width: 76px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Rockwell,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 12.0pt;
}
#s-6a2d42a4-d060-480d-88d1-225e8b28c87b #s-Label_1 .valign {
  vertical-align: middle;
}
#s-6a2d42a4-d060-480d-88d1-225e8b28c87b #s-Button_5 {
  position: absolute;
  top: 90px;
  left: 294px;
  width: 32px;
  height: 22px;
  background-color: #CCCCCC;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 11.0pt;
}
#s-6a2d42a4-d060-480d-88d1-225e8b28c87b #s-Button_5 .valign {
  vertical-align: middle;
}
#s-6a2d42a4-d060-480d-88d1-225e8b28c87b #s-Button_6 {
  position: absolute;
  top: 540px;
  left: 27px;
  width: 142px;
  height: 22px;
  background-color: #CCCCCC;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Rockwell,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 12.0pt;
}
#s-6a2d42a4-d060-480d-88d1-225e8b28c87b #s-Button_6 .valign {
  vertical-align: middle;
}
#s-6a2d42a4-d060-480d-88d1-225e8b28c87b #s-Button_7 {
  position: absolute;
  top: 540px;
  left: 202px;
  width: 142px;
  height: 22px;
  background-color: #CCCCCC;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Rockwell,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 12.0pt;
}
#s-6a2d42a4-d060-480d-88d1-225e8b28c87b #s-Button_7 .valign {
  vertical-align: middle;
}
#s-6a2d42a4-d060-480d-88d1-225e8b28c87b #s-Label_2 {
  position: absolute;
  top: 590px;
  left: 53px;
  width: 292px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Rockwell,Arial;
  font-size: 24.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 24.0pt;
}
#s-6a2d42a4-d060-480d-88d1-225e8b28c87b #s-Label_2 .valign {
  vertical-align: middle;
}
#s-6a2d42a4-d060-480d-88d1-225e8b28c87b #s-Rich_text_1 {
  position: absolute;
  top: 257px;
  left: 20px;
  width: 323px;
  height: 65px;
  background-color: #666666;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 2px 5px 0px #404040;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-6a2d42a4-d060-480d-88d1-225e8b28c87b #s-Rich_text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6a2d42a4-d060-480d-88d1-225e8b28c87b #s-Rich_text_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
}
#s-6a2d42a4-d060-480d-88d1-225e8b28c87b #s-Rich_text_1 span#rtr-s-Rich_text_1_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-6a2d42a4-d060-480d-88d1-225e8b28c87b #s-Rich_text_1 span#rtr-s-Rich_text_1_1 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-6a2d42a4-d060-480d-88d1-225e8b28c87b #s-Button_8 {
  position: absolute;
  top: 176px;
  left: 21px;
  width: 99px;
  height: 30px;
  background-color: #6ACCCB;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Rockwell,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 14.0pt;
}
#s-6a2d42a4-d060-480d-88d1-225e8b28c87b #s-Button_8 .valign {
  vertical-align: middle;
}
#s-6a2d42a4-d060-480d-88d1-225e8b28c87b #s-Label_3 {
  position: absolute;
  top: 180px;
  left: 144px;
  width: 208px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Rockwell,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 12.0pt;
}
#s-6a2d42a4-d060-480d-88d1-225e8b28c87b #s-Label_3 .valign {
  vertical-align: middle;
}
#s-6a2d42a4-d060-480d-88d1-225e8b28c87b #s-Input_1 {
  position: absolute;
  top: 360px;
  left: 25px;
  padding-left: 5px;
  width: 308px;
  height: 41px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #718EBE;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #718EBE;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #718EBE;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #718EBE;
  box-shadow: none;
  text-shadow: none;
}
#s-6a2d42a4-d060-480d-88d1-225e8b28c87b #s-Input_1 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-6a2d42a4-d060-480d-88d1-225e8b28c87b #s-Input_1 input {
  color: #787877;
  text-align: left;
  text-decoration: none;
  font-family: Rockwell,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-6a2d42a4-d060-480d-88d1-225e8b28c87b #s-Input_2 {
  position: absolute;
  top: 439px;
  left: 25px;
  padding-left: 5px;
  width: 308px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #718EBE;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #718EBE;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #718EBE;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #718EBE;
  box-shadow: none;
  text-shadow: none;
}
#s-6a2d42a4-d060-480d-88d1-225e8b28c87b #s-Input_2 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-6a2d42a4-d060-480d-88d1-225e8b28c87b #s-Input_2 input {
  color: #787877;
  text-align: left;
  text-decoration: none;
  font-family: Rockwell,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-6a2d42a4-d060-480d-88d1-225e8b28c87b #s-Label_4 {
  position: absolute;
  top: 332px;
  left: 200px;
  width: 140px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Rockwell,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 11.0pt;
}
#s-6a2d42a4-d060-480d-88d1-225e8b28c87b #s-Label_4 .valign {
  vertical-align: middle;
}
#s-6a2d42a4-d060-480d-88d1-225e8b28c87b #s-Label_5 {
  position: absolute;
  top: 410px;
  left: 201px;
  width: 140px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Rockwell,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 11.0pt;
}
#s-6a2d42a4-d060-480d-88d1-225e8b28c87b #s-Label_5 .valign {
  vertical-align: middle;
}
#s-6a2d42a4-d060-480d-88d1-225e8b28c87b #s-Button_9 {
  position: absolute;
  top: 485px;
  left: 120px;
  width: 212px;
  height: 22px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Rockwell,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 12.0pt;
}
#s-6a2d42a4-d060-480d-88d1-225e8b28c87b #s-Button_9 .valign {
  vertical-align: middle;
}
#s-6a2d42a4-d060-480d-88d1-225e8b28c87b #s-Button_10 {
  position: absolute;
  top: 20px;
  left: 29px;
  padding-right: 5px;
  padding-left: 5px;
  width: 79px;
  height: 26px;
  background-color: #5972A8;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #314B85;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #314B85;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #314B85;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #314B85;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Tahoma,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 8.0pt;
}
#s-6a2d42a4-d060-480d-88d1-225e8b28c87b #s-Button_10 .valign {
  vertical-align: middle;
}
#s-6a2d42a4-d060-480d-88d1-225e8b28c87b #s-Image_2 {
  position: absolute;
  top: 19px;
  left: 29px;
  width: 30px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-6a2d42a4-d060-480d-88d1-225e8b28c87b #s-Rectangle_1 {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 361px;
  height: 640px;
  background-color: #CCCCCC;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  opacity: 0.8;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 0px 10px 2px #404040;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-6a2d42a4-d060-480d-88d1-225e8b28c87b #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6a2d42a4-d060-480d-88d1-225e8b28c87b #s-Rectangle_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-6a2d42a4-d060-480d-88d1-225e8b28c87b #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-6a2d42a4-d060-480d-88d1-225e8b28c87b #s-Rectangle_2 {
  position: absolute;
  top: 167px;
  left: 29px;
  width: 301px;
  height: 273px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 0px 10px 3px #404040;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-6a2d42a4-d060-480d-88d1-225e8b28c87b #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6a2d42a4-d060-480d-88d1-225e8b28c87b #s-Rectangle_2 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-6a2d42a4-d060-480d-88d1-225e8b28c87b #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-6a2d42a4-d060-480d-88d1-225e8b28c87b #s-Flat-button-dark {
  position: absolute;
  top: 211px;
  left: 57px;
  width: 246px;
  height: 42px;
  background-color: #689ACA;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #8AD9D2;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #8AD9D2;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #8AD9D2;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #8AD9D2;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 3px 4px 0px #000000;
  text-shadow: none;
  color: #303030;
  text-align: center;
  text-decoration: none;
  font-family: Rockwell,Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 15.0pt;
}
#s-6a2d42a4-d060-480d-88d1-225e8b28c87b #s-Flat-button-dark .valign {
  vertical-align: middle;
}
#s-6a2d42a4-d060-480d-88d1-225e8b28c87b #s-Label_6 {
  position: absolute;
  top: 294px;
  left: 164px;
  width: 74px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Rockwell,Arial;
  font-size: 22.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 22.0pt;
}
#s-6a2d42a4-d060-480d-88d1-225e8b28c87b #s-Label_6 .valign {
  vertical-align: middle;
}
#s-6a2d42a4-d060-480d-88d1-225e8b28c87b #s-Flat-button-dark_1 {
  position: absolute;
  top: 357px;
  left: 58px;
  width: 246px;
  height: 42px;
  background-color: #689ACA;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #8AD9D2;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #8AD9D2;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #8AD9D2;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #8AD9D2;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 3px 4px 0px #000000;
  text-shadow: none;
  color: #303030;
  text-align: center;
  text-decoration: none;
  font-family: Rockwell,Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 15.0pt;
}
#s-6a2d42a4-d060-480d-88d1-225e8b28c87b #s-Flat-button-dark_1 .valign {
  vertical-align: middle;
}
#s-6a2d42a4-d060-480d-88d1-225e8b28c87b #s-Button_11 {
  position: absolute;
  top: 485px;
  left: 222px;
  width: 102px;
  height: 22px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Rockwell,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 11.0pt;
}
#s-6a2d42a4-d060-480d-88d1-225e8b28c87b #s-Button_11 .valign {
  vertical-align: middle;
}
#s-6a2d42a4-d060-480d-88d1-225e8b28c87b #s-Label_20 {
  position: absolute;
  top: 168px;
  left: 307px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(315deg);
  -moz-transform: rotate(315deg);
  transform: rotate(315deg);
  box-shadow: none;
  text-shadow: none;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 18.0pt;
}
#s-6a2d42a4-d060-480d-88d1-225e8b28c87b #s-Label_20 .valign {
  vertical-align: middle;
}
.ui-page {
  overflow-x: hidden;
}
#s-6a2d42a4-d060-480d-88d1-225e8b28c87b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}