#s-70d86354-e766-4bfc-812f-5fe5772471a0 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-70d86354-e766-4bfc-812f-5fe5772471a0 #s-Rich_text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-70d86354-e766-4bfc-812f-5fe5772471a0 #s-Flat-button-dark {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-70d86354-e766-4bfc-812f-5fe5772471a0 #s-Check-box_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-70d86354-e766-4bfc-812f-5fe5772471a0 #s-Check-box_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-70d86354-e766-4bfc-812f-5fe5772471a0 #s-Check-box_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-70d86354-e766-4bfc-812f-5fe5772471a0 #s-Check-box_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-70d86354-e766-4bfc-812f-5fe5772471a0 #s-Check-box_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-70d86354-e766-4bfc-812f-5fe5772471a0 #s-Check-box_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-70d86354-e766-4bfc-812f-5fe5772471a0 #s-Check-box_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-70d86354-e766-4bfc-812f-5fe5772471a0 #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-70d86354-e766-4bfc-812f-5fe5772471a0 #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-70d86354-e766-4bfc-812f-5fe5772471a0 #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-70d86354-e766-4bfc-812f-5fe5772471a0 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}