#s-8022da45-1c46-451b-ab8e-bff2a9a77559 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-8022da45-1c46-451b-ab8e-bff2a9a77559 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-8022da45-1c46-451b-ab8e-bff2a9a77559 #s-Label_1 {
  position: absolute;
  top: 68px;
  left: 106px;
  width: 166px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Rockwell,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 14.0pt;
}
#s-8022da45-1c46-451b-ab8e-bff2a9a77559 #s-Label_1 .valign {
  vertical-align: middle;
}
#s-8022da45-1c46-451b-ab8e-bff2a9a77559 #s-Category_1 {
  position: absolute;
  top: 113px;
  left: 88px;
  padding-left: 5px;
  width: 177px;
  height: 28px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: 0px 0px 5px 1px #404040;
  text-shadow: none;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Rockwell,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  vertical-align: middle;
}
#s-8022da45-1c46-451b-ab8e-bff2a9a77559 #s-Category_1 .valign {
  width: 159px;
}
#s-8022da45-1c46-451b-ab8e-bff2a9a77559 #s-Label_2 {
  position: absolute;
  top: 190px;
  left: 71px;
  width: 237px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Rockwell,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 14.0pt;
}
#s-8022da45-1c46-451b-ab8e-bff2a9a77559 #s-Label_2 .valign {
  vertical-align: middle;
}
#s-8022da45-1c46-451b-ab8e-bff2a9a77559 #s-Category_2 {
  position: absolute;
  top: 237px;
  left: 94px;
  padding-left: 5px;
  width: 177px;
  height: 28px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: 0px 0px 5px 1px #404040;
  text-shadow: none;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Rockwell,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  vertical-align: middle;
}
#s-8022da45-1c46-451b-ab8e-bff2a9a77559 #s-Category_2 .valign {
  width: 159px;
}
#s-8022da45-1c46-451b-ab8e-bff2a9a77559 #s-Label_3 {
  position: absolute;
  top: 323px;
  left: 125px;
  width: 128px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Rockwell,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 14.0pt;
}
#s-8022da45-1c46-451b-ab8e-bff2a9a77559 #s-Label_3 .valign {
  vertical-align: middle;
}
#s-8022da45-1c46-451b-ab8e-bff2a9a77559 #s-Category_3 {
  position: absolute;
  top: 372px;
  left: 94px;
  padding-left: 5px;
  width: 177px;
  height: 28px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: 0px 0px 5px 1px #404040;
  text-shadow: none;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Rockwell,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  vertical-align: middle;
}
#s-8022da45-1c46-451b-ab8e-bff2a9a77559 #s-Category_3 .valign {
  width: 159px;
}
#s-8022da45-1c46-451b-ab8e-bff2a9a77559 #s-Button_1 {
  position: absolute;
  top: 490px;
  left: 17px;
  width: 142px;
  height: 22px;
  background-color: #D9D9D9;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 11.0pt;
}
#s-8022da45-1c46-451b-ab8e-bff2a9a77559 #s-Button_1 .valign {
  vertical-align: middle;
}
#s-8022da45-1c46-451b-ab8e-bff2a9a77559 #s-Button_2 {
  position: absolute;
  top: 490px;
  left: 177px;
  width: 142px;
  height: 22px;
  background-color: #D9D9D9;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Rockwell,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 11.0pt;
}
#s-8022da45-1c46-451b-ab8e-bff2a9a77559 #s-Button_2 .valign {
  vertical-align: middle;
}
#s-8022da45-1c46-451b-ab8e-bff2a9a77559 #s-Image_1 {
  position: absolute;
  top: 20px;
  left: 307px;
  width: 45px;
  height: 64px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
.ui-page {
  overflow-x: hidden;
}
#s-8022da45-1c46-451b-ab8e-bff2a9a77559 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}