#s-9036616c-af44-4f58-aed7-585d8478f17e > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-9036616c-af44-4f58-aed7-585d8478f17e > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-9036616c-af44-4f58-aed7-585d8478f17e #s-Image_1 {
  position: absolute;
  top: 18px;
  left: 298px;
  width: 51px;
  height: 70px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-9036616c-af44-4f58-aed7-585d8478f17e #s-Label_1 {
  position: absolute;
  top: 102px;
  left: 127px;
  width: 140px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Rockwell,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 14.0pt;
}
#s-9036616c-af44-4f58-aed7-585d8478f17e #s-Label_1 .valign {
  vertical-align: middle;
}
#s-9036616c-af44-4f58-aed7-585d8478f17e #s-Label_2 {
  position: absolute;
  top: 222px;
  left: 98px;
  width: 132px;
  height: 34px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Rockwell,Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 18.0pt;
}
#s-9036616c-af44-4f58-aed7-585d8478f17e #s-Label_2 .valign {
  vertical-align: middle;
}
#s-9036616c-af44-4f58-aed7-585d8478f17e #s-oo_login {
  position: absolute;
  top: 264px;
  left: 98px;
  width: 170px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Rockwell,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 16.0pt;
}
#s-9036616c-af44-4f58-aed7-585d8478f17e #s-oo_login .valign {
  vertical-align: middle;
}
#s-9036616c-af44-4f58-aed7-585d8478f17e #s-un {
  position: absolute;
  top: 303px;
  left: 76px;
  padding-left: 5px;
  width: 206px;
  height: 40px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #718EBE;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #718EBE;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #718EBE;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #718EBE;
  box-shadow: none;
  text-shadow: none;
}
#s-9036616c-af44-4f58-aed7-585d8478f17e #s-un .valign {
  vertical-align: middle;
  line-height: 12.0pt;
}
#s-9036616c-af44-4f58-aed7-585d8478f17e #s-un input {
  color: #787877;
  text-align: left;
  text-decoration: none;
  font-family: Rockwell,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-9036616c-af44-4f58-aed7-585d8478f17e #s-psd {
  position: absolute;
  top: 360px;
  left: 73px;
  padding-left: 5px;
  width: 212px;
  height: 42px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #718EBE;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #718EBE;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #718EBE;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #718EBE;
  box-shadow: none;
  text-shadow: none;
}
#s-9036616c-af44-4f58-aed7-585d8478f17e #s-psd .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-9036616c-af44-4f58-aed7-585d8478f17e #s-psd input {
  color: #787877;
  text-align: left;
  text-decoration: none;
  font-family: Tahoma,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-9036616c-af44-4f58-aed7-585d8478f17e #s-Flat-button-dark_2 {
  position: absolute;
  top: 519px;
  left: 83px;
  width: 223px;
  height: 42px;
  background-color: #8AD9D2;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #8AD9D2;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #8AD9D2;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #8AD9D2;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #8AD9D2;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 3px 4px 0px #000000;
  text-shadow: none;
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: Rockwell,Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 15.0pt;
}
#s-9036616c-af44-4f58-aed7-585d8478f17e #s-Flat-button-dark_2 .valign {
  vertical-align: middle;
}
#s-9036616c-af44-4f58-aed7-585d8478f17e #s-Label_3 {
  position: absolute;
  top: 474px;
  left: 121px;
  width: 140px;
  height: 39px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Rockwell,Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 18.0pt;
}
#s-9036616c-af44-4f58-aed7-585d8478f17e #s-Label_3 .valign {
  vertical-align: middle;
}
#s-9036616c-af44-4f58-aed7-585d8478f17e #s-Flat-button-dark_3 {
  position: absolute;
  top: 420px;
  left: 116px;
  width: 145px;
  height: 42px;
  background-color: #8AD9D2;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #8AD9D2;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #8AD9D2;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #8AD9D2;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #8AD9D2;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 3px 4px 0px #000000;
  text-shadow: none;
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: Rockwell,Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 15.0pt;
}
#s-9036616c-af44-4f58-aed7-585d8478f17e #s-Flat-button-dark_3 .valign {
  vertical-align: middle;
}
#s-9036616c-af44-4f58-aed7-585d8478f17e #s-Label_5 {
  position: absolute;
  top: 161px;
  left: 128px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #676CFB;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 36.0pt;
}
#s-9036616c-af44-4f58-aed7-585d8478f17e #s-Label_5 .valign {
  vertical-align: middle;
}
#s-9036616c-af44-4f58-aed7-585d8478f17e #s-Label_6 {
  position: absolute;
  top: 161px;
  left: 202px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 36.0pt;
}
#s-9036616c-af44-4f58-aed7-585d8478f17e #s-Label_6 .valign {
  vertical-align: middle;
}
#s-9036616c-af44-4f58-aed7-585d8478f17e #s-Label_4 {
  position: absolute;
  top: 38px;
  left: 70px;
  width: 225px;
  height: 56px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Rockwell,Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 18.0pt;
}
#s-9036616c-af44-4f58-aed7-585d8478f17e #s-Label_4 .valign {
  vertical-align: middle;
}
#s-9036616c-af44-4f58-aed7-585d8478f17e #s-Button_1 {
  position: absolute;
  top: 598px;
  left: 84px;
  width: 205px;
  height: 22px;
  background-color: #999999;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 11.0pt;
}
#s-9036616c-af44-4f58-aed7-585d8478f17e #s-Button_1 .valign {
  vertical-align: middle;
}
.ui-page {
  overflow-x: hidden;
}
#s-9036616c-af44-4f58-aed7-585d8478f17e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}