#s-cc8d679a-6ac4-43b6-aeaa-eefd4237146d #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 72px;
  height: 22px;
  -ms-transform: rotate(0.0deg);
}
#s-cc8d679a-6ac4-43b6-aeaa-eefd4237146d #s-Button_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 69px;
  height: 22px;
  -ms-transform: rotate(0.0deg);
}
#s-cc8d679a-6ac4-43b6-aeaa-eefd4237146d #s-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#s-cc8d679a-6ac4-43b6-aeaa-eefd4237146d #s-Button_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 32px;
  height: 22px;
  -ms-transform: rotate(0.0deg);
}
#s-cc8d679a-6ac4-43b6-aeaa-eefd4237146d #s-Button_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 142px;
  height: 22px;
  -ms-transform: rotate(0.0deg);
}
#s-cc8d679a-6ac4-43b6-aeaa-eefd4237146d #s-Button_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 142px;
  height: 22px;
  -ms-transform: rotate(0.0deg);
}
#s-cc8d679a-6ac4-43b6-aeaa-eefd4237146d #s-Label_2 {
  -ms-transform: rotate(0.0deg);
}
#s-cc8d679a-6ac4-43b6-aeaa-eefd4237146d #s-Rich_text_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-cc8d679a-6ac4-43b6-aeaa-eefd4237146d #s-Button_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 99px;
  height: 30px;
  -ms-transform: rotate(0.0deg);
}
#s-cc8d679a-6ac4-43b6-aeaa-eefd4237146d #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-cc8d679a-6ac4-43b6-aeaa-eefd4237146d #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-cc8d679a-6ac4-43b6-aeaa-eefd4237146d #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-cc8d679a-6ac4-43b6-aeaa-eefd4237146d #s-Button_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 163px;
  height: 22px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-cc8d679a-6ac4-43b6-aeaa-eefd4237146d #s-Button_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #314B85;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #314B85;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #314B85;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #314B85;
  -ms-transform: rotate(0.0deg);
}
#s-cc8d679a-6ac4-43b6-aeaa-eefd4237146d #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-cc8d679a-6ac4-43b6-aeaa-eefd4237146d #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-cc8d679a-6ac4-43b6-aeaa-eefd4237146d #s-Button_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 102px;
  height: 22px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-cc8d679a-6ac4-43b6-aeaa-eefd4237146d #s-Rectangle_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
  -ms-transform: rotate(0.0deg);
}
#s-cc8d679a-6ac4-43b6-aeaa-eefd4237146d #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-cc8d679a-6ac4-43b6-aeaa-eefd4237146d #s-Rich_text_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFECE;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFECE;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFECE;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFECE;
  -ms-transform: rotate(0.0deg);
}
#s-cc8d679a-6ac4-43b6-aeaa-eefd4237146d #s-checkbox-on-light_9 {
  -ms-transform: rotate(0.0deg);
}
#s-cc8d679a-6ac4-43b6-aeaa-eefd4237146d #s-Button_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 101px;
  height: 22px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-cc8d679a-6ac4-43b6-aeaa-eefd4237146d #s-checkbox-on-light_7 {
  -ms-transform: rotate(0.0deg);
}
#s-cc8d679a-6ac4-43b6-aeaa-eefd4237146d #s-checkbox-on-light_8 {
  -ms-transform: rotate(0.0deg);
}
#s-cc8d679a-6ac4-43b6-aeaa-eefd4237146d #s-Button_11 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 101px;
  height: 22px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-cc8d679a-6ac4-43b6-aeaa-eefd4237146d #s-Label_20 {
  -ms-transform: rotate(315.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-cc8d679a-6ac4-43b6-aeaa-eefd4237146d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}