#s-e118b886-8cd8-485d-bf33-95525684f5a2 #s-Panel_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A3A3A3;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A3A3A3;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A3A3A3;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A3A3A3;
}
#s-e118b886-8cd8-485d-bf33-95525684f5a2 #s-Panel_1 > .valign {
  vertical-align: top;
}
#s-e118b886-8cd8-485d-bf33-95525684f5a2 #s-Rectangle_1 {
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E7);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-e118b886-8cd8-485d-bf33-95525684f5a2 #s-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#s-e118b886-8cd8-485d-bf33-95525684f5a2 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-e118b886-8cd8-485d-bf33-95525684f5a2 #s-Rectangle_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-e118b886-8cd8-485d-bf33-95525684f5a2 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-e118b886-8cd8-485d-bf33-95525684f5a2 #s-Rich_text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-e118b886-8cd8-485d-bf33-95525684f5a2 #s-Label_2 {
  -ms-transform: rotate(0.0deg);
}
#s-e118b886-8cd8-485d-bf33-95525684f5a2 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-e118b886-8cd8-485d-bf33-95525684f5a2 #s-Rich_text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-e118b886-8cd8-485d-bf33-95525684f5a2 #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A3A3A3;
  -ms-transform: rotate(0.0deg);
}
#s-e118b886-8cd8-485d-bf33-95525684f5a2 #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A3A3A3;
  -ms-transform: rotate(0.0deg);
}
#s-e118b886-8cd8-485d-bf33-95525684f5a2 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-e118b886-8cd8-485d-bf33-95525684f5a2 #s-Rich_text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-e118b886-8cd8-485d-bf33-95525684f5a2 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-e118b886-8cd8-485d-bf33-95525684f5a2 #s-Rich_text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-e118b886-8cd8-485d-bf33-95525684f5a2 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-e118b886-8cd8-485d-bf33-95525684f5a2 #s-Rich_text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-e118b886-8cd8-485d-bf33-95525684f5a2 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-e118b886-8cd8-485d-bf33-95525684f5a2 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}