#s-e118b886-8cd8-485d-bf33-95525684f5a2 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-e118b886-8cd8-485d-bf33-95525684f5a2 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-e118b886-8cd8-485d-bf33-95525684f5a2 #s-Dynamic_Panel_1 {
  position: absolute;
  top: 80px;
  left: 9px;
}
#s-e118b886-8cd8-485d-bf33-95525684f5a2 #s-Panel_1 {
  width: 334px;
  height: 544px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A3A3A3;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A3A3A3;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A3A3A3;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A3A3A3;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-e118b886-8cd8-485d-bf33-95525684f5a2 #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-e118b886-8cd8-485d-bf33-95525684f5a2 #s-Panel_2 {
  width: 405px;
  height: 25px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-e118b886-8cd8-485d-bf33-95525684f5a2 #s-Panel_2 .verticalalign {
  vertical-align: top;
}
#s-e118b886-8cd8-485d-bf33-95525684f5a2 #s-Rectangle_1 {
  position: absolute;
  top: -1px;
  left: 0px;
  width: 405px;
  height: 26px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E7);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E7);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E7));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E7);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E7);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Arial,Arial;
}
#s-e118b886-8cd8-485d-bf33-95525684f5a2 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e118b886-8cd8-485d-bf33-95525684f5a2 #s-Rectangle_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e118b886-8cd8-485d-bf33-95525684f5a2 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e118b886-8cd8-485d-bf33-95525684f5a2 #s-Label_1 {
  position: absolute;
  top: 1px;
  left: 10px;
  width: 47px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 10.0pt;
}
#s-e118b886-8cd8-485d-bf33-95525684f5a2 #s-Label_1 .valign {
  vertical-align: middle;
}
#s-e118b886-8cd8-485d-bf33-95525684f5a2 #s-Image_1 {
  position: absolute;
  top: 4px;
  left: 381px;
  width: 14px;
  height: 14px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-e118b886-8cd8-485d-bf33-95525684f5a2 #s-Panel_3 {
  width: 405px;
  height: 119px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-e118b886-8cd8-485d-bf33-95525684f5a2 #s-Panel_3 .verticalalign {
  vertical-align: top;
}
#s-e118b886-8cd8-485d-bf33-95525684f5a2 #s-Rectangle_2 {
  position: absolute;
  top: -4px;
  left: 0px;
  width: 337px;
  height: 29px;
  background-color: #6ACCCB;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Arial,Arial;
}
#s-e118b886-8cd8-485d-bf33-95525684f5a2 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e118b886-8cd8-485d-bf33-95525684f5a2 #s-Rectangle_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e118b886-8cd8-485d-bf33-95525684f5a2 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e118b886-8cd8-485d-bf33-95525684f5a2 #s-Dynamic_Panel_3 {
  position: absolute;
  top: 25px;
  left: 0px;
}
#s-e118b886-8cd8-485d-bf33-95525684f5a2 #s-Panel_4 {
  width: 337px;
  height: 94px;
  background-color: #EDF5FF;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-e118b886-8cd8-485d-bf33-95525684f5a2 #s-Panel_4 .verticalalign {
  vertical-align: top;
}
#s-e118b886-8cd8-485d-bf33-95525684f5a2 #s-Image_2 {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 62px;
  height: 67px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-e118b886-8cd8-485d-bf33-95525684f5a2 #s-Rich_text_1 {
  position: absolute;
  top: 8px;
  left: 119px;
  width: 206px;
  height: 82px;
  background-color: #D9D9D9;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Arial,Arial;
}
#s-e118b886-8cd8-485d-bf33-95525684f5a2 #s-Rich_text_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-e118b886-8cd8-485d-bf33-95525684f5a2 #s-Rich_text_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e118b886-8cd8-485d-bf33-95525684f5a2 #s-Rich_text_1 span#rtr-s-Rich_text_1_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e118b886-8cd8-485d-bf33-95525684f5a2 #s-Label_2 {
  position: absolute;
  top: 1px;
  left: 10px;
  width: 47px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Rockwell,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 12.0pt;
}
#s-e118b886-8cd8-485d-bf33-95525684f5a2 #s-Label_2 .valign {
  vertical-align: middle;
}
#s-e118b886-8cd8-485d-bf33-95525684f5a2 #s-Panel_5 {
  width: 334px;
  height: 88px;
  background-color: #EDF5FF;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-e118b886-8cd8-485d-bf33-95525684f5a2 #s-Panel_5 .verticalalign {
  vertical-align: top;
}
#s-e118b886-8cd8-485d-bf33-95525684f5a2 #s-Image_3 {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 59px;
  height: 67px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-e118b886-8cd8-485d-bf33-95525684f5a2 #s-Rich_text_2 {
  position: absolute;
  top: 8px;
  left: 120px;
  width: 207px;
  height: 73px;
  background-color: #D9D9D9;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Arial,Arial;
}
#s-e118b886-8cd8-485d-bf33-95525684f5a2 #s-Rich_text_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-e118b886-8cd8-485d-bf33-95525684f5a2 #s-Rich_text_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e118b886-8cd8-485d-bf33-95525684f5a2 #s-Rich_text_2 span#rtr-s-Rich_text_2_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e118b886-8cd8-485d-bf33-95525684f5a2 #s-Line_1 {
  position: absolute;
  top: 0px;
  left: 332px;
  width: 332px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A3A3A3;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-e118b886-8cd8-485d-bf33-95525684f5a2 #s-Panel_6 {
  width: 334px;
  height: 89px;
  background-color: #EDF5FF;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-e118b886-8cd8-485d-bf33-95525684f5a2 #s-Panel_6 .verticalalign {
  vertical-align: top;
}
#s-e118b886-8cd8-485d-bf33-95525684f5a2 #s-Image_4 {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 61px;
  height: 67px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-e118b886-8cd8-485d-bf33-95525684f5a2 #s-Rich_text_3 {
  position: absolute;
  top: 5px;
  left: 119px;
  width: 210px;
  height: 77px;
  background-color: #D9D9D9;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Arial,Arial;
}
#s-e118b886-8cd8-485d-bf33-95525684f5a2 #s-Rich_text_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-e118b886-8cd8-485d-bf33-95525684f5a2 #s-Rich_text_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e118b886-8cd8-485d-bf33-95525684f5a2 #s-Rich_text_3 span#rtr-s-Rich_text_3_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e118b886-8cd8-485d-bf33-95525684f5a2 #s-Panel_7 {
  width: 334px;
  height: 86px;
  background-color: #EDF5FF;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-e118b886-8cd8-485d-bf33-95525684f5a2 #s-Panel_7 .verticalalign {
  vertical-align: top;
}
#s-e118b886-8cd8-485d-bf33-95525684f5a2 #s-Image_5 {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 71px;
  height: 67px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-e118b886-8cd8-485d-bf33-95525684f5a2 #s-Rich_text_4 {
  position: absolute;
  top: 3px;
  left: 120px;
  width: 210px;
  height: 78px;
  background-color: #D9D9D9;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Arial,Arial;
}
#s-e118b886-8cd8-485d-bf33-95525684f5a2 #s-Rich_text_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-e118b886-8cd8-485d-bf33-95525684f5a2 #s-Rich_text_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e118b886-8cd8-485d-bf33-95525684f5a2 #s-Rich_text_4 span#rtr-s-Rich_text_4_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e118b886-8cd8-485d-bf33-95525684f5a2 #s-Panel_8 {
  width: 334px;
  height: 83px;
  background-color: #EDF5FF;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-e118b886-8cd8-485d-bf33-95525684f5a2 #s-Panel_8 .verticalalign {
  vertical-align: top;
}
#s-e118b886-8cd8-485d-bf33-95525684f5a2 #s-Image_6 {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 70px;
  height: 67px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-e118b886-8cd8-485d-bf33-95525684f5a2 #s-Rich_text_5 {
  position: absolute;
  top: 8px;
  left: 120px;
  width: 206px;
  height: 82px;
  background-color: #D9D9D9;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Arial,Arial;
}
#s-e118b886-8cd8-485d-bf33-95525684f5a2 #s-Rich_text_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-e118b886-8cd8-485d-bf33-95525684f5a2 #s-Rich_text_5 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e118b886-8cd8-485d-bf33-95525684f5a2 #s-Rich_text_5 span#rtr-s-Rich_text_5_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e118b886-8cd8-485d-bf33-95525684f5a2 #s-Image_7 {
  position: absolute;
  top: 13px;
  left: 300px;
  width: 43px;
  height: 54px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
.ui-page {
  overflow-x: hidden;
}
#s-e118b886-8cd8-485d-bf33-95525684f5a2 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}