#s-e118b886-8cd8-485d-bf33-95525684f5a2 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e118b886-8cd8-485d-bf33-95525684f5a2 #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e118b886-8cd8-485d-bf33-95525684f5a2 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e118b886-8cd8-485d-bf33-95525684f5a2 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e118b886-8cd8-485d-bf33-95525684f5a2 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e118b886-8cd8-485d-bf33-95525684f5a2 #s-Rich_text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e118b886-8cd8-485d-bf33-95525684f5a2 #s-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e118b886-8cd8-485d-bf33-95525684f5a2 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e118b886-8cd8-485d-bf33-95525684f5a2 #s-Rich_text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e118b886-8cd8-485d-bf33-95525684f5a2 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e118b886-8cd8-485d-bf33-95525684f5a2 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e118b886-8cd8-485d-bf33-95525684f5a2 #s-Rich_text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e118b886-8cd8-485d-bf33-95525684f5a2 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e118b886-8cd8-485d-bf33-95525684f5a2 #s-Rich_text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e118b886-8cd8-485d-bf33-95525684f5a2 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e118b886-8cd8-485d-bf33-95525684f5a2 #s-Rich_text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e118b886-8cd8-485d-bf33-95525684f5a2 #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-e118b886-8cd8-485d-bf33-95525684f5a2 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}