#s-f3f06f39-12d9-4b8d-b384-9b8ef0875fc3 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-f3f06f39-12d9-4b8d-b384-9b8ef0875fc3 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-f3f06f39-12d9-4b8d-b384-9b8ef0875fc3 #s-Image_1 {
  position: absolute;
  top: 22px;
  left: 304px;
  width: 48px;
  height: 63px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-f3f06f39-12d9-4b8d-b384-9b8ef0875fc3 #s-Rich_text_1 {
  position: absolute;
  top: 245px;
  left: 11px;
  width: 330px;
  height: 83px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 0px 10px 1px #404040;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Rockwell,Arial;
}
#s-f3f06f39-12d9-4b8d-b384-9b8ef0875fc3 #s-Rich_text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f3f06f39-12d9-4b8d-b384-9b8ef0875fc3 #s-Rich_text_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Rockwell,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-f3f06f39-12d9-4b8d-b384-9b8ef0875fc3 #s-Rich_text_1 span#rtr-s-Rich_text_1_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Rockwell,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-f3f06f39-12d9-4b8d-b384-9b8ef0875fc3 #s-Rich_text_1 span#rtr-s-Rich_text_1_1 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Rockwell,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-f3f06f39-12d9-4b8d-b384-9b8ef0875fc3 #s-Button_8 {
  position: absolute;
  top: 176px;
  left: 21px;
  width: 99px;
  height: 30px;
  background-color: #B4D7FE;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Rockwell,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 14.0pt;
}
#s-f3f06f39-12d9-4b8d-b384-9b8ef0875fc3 #s-Button_8 .valign {
  vertical-align: middle;
}
#s-f3f06f39-12d9-4b8d-b384-9b8ef0875fc3 #s-Label_3 {
  position: absolute;
  top: 180px;
  left: 144px;
  width: 146px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Rockwell,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 10.0pt;
}
#s-f3f06f39-12d9-4b8d-b384-9b8ef0875fc3 #s-Label_3 .valign {
  vertical-align: middle;
}
#s-f3f06f39-12d9-4b8d-b384-9b8ef0875fc3 #s-Input_1 {
  position: absolute;
  top: 360px;
  left: 25px;
  padding-left: 5px;
  width: 308px;
  height: 31px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #718EBE;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #718EBE;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #718EBE;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #718EBE;
  box-shadow: none;
  text-shadow: none;
}
#s-f3f06f39-12d9-4b8d-b384-9b8ef0875fc3 #s-Input_1 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-f3f06f39-12d9-4b8d-b384-9b8ef0875fc3 #s-Input_1 input {
  color: #787877;
  text-align: left;
  text-decoration: none;
  font-family: Rockwell,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-f3f06f39-12d9-4b8d-b384-9b8ef0875fc3 #s-Input_2 {
  position: absolute;
  top: 439px;
  left: 25px;
  padding-left: 5px;
  width: 308px;
  height: 32px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #718EBE;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #718EBE;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #718EBE;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #718EBE;
  box-shadow: none;
  text-shadow: none;
}
#s-f3f06f39-12d9-4b8d-b384-9b8ef0875fc3 #s-Input_2 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-f3f06f39-12d9-4b8d-b384-9b8ef0875fc3 #s-Input_2 input {
  color: #787877;
  text-align: left;
  text-decoration: none;
  font-family: Rockwell,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-f3f06f39-12d9-4b8d-b384-9b8ef0875fc3 #s-Label_4 {
  position: absolute;
  top: 337px;
  left: 227px;
  width: 118px;
  height: 24px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Rockwell,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 10.0pt;
}
#s-f3f06f39-12d9-4b8d-b384-9b8ef0875fc3 #s-Label_4 .valign {
  vertical-align: middle;
}
#s-f3f06f39-12d9-4b8d-b384-9b8ef0875fc3 #s-Label_5 {
  position: absolute;
  top: 415px;
  left: 224px;
  width: 120px;
  height: 25px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Rockwell,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 10.0pt;
}
#s-f3f06f39-12d9-4b8d-b384-9b8ef0875fc3 #s-Label_5 .valign {
  vertical-align: middle;
}
#s-f3f06f39-12d9-4b8d-b384-9b8ef0875fc3 #s-Button_9 {
  position: absolute;
  top: 485px;
  left: 25px;
  width: 307px;
  height: 22px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Rockwell,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 11.0pt;
}
#s-f3f06f39-12d9-4b8d-b384-9b8ef0875fc3 #s-Button_9 .valign {
  vertical-align: middle;
}
#s-f3f06f39-12d9-4b8d-b384-9b8ef0875fc3 #s-Button_1 {
  position: absolute;
  top: 110px;
  left: 254px;
  padding-right: 5px;
  padding-left: 5px;
  width: 79px;
  height: 26px;
  background-color: #5972A8;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #314B85;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #314B85;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #314B85;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #314B85;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Tahoma,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 8.0pt;
}
#s-f3f06f39-12d9-4b8d-b384-9b8ef0875fc3 #s-Button_1 .valign {
  vertical-align: middle;
}
#s-f3f06f39-12d9-4b8d-b384-9b8ef0875fc3 #s-Image_2 {
  position: absolute;
  top: 109px;
  left: 253px;
  width: 30px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-f3f06f39-12d9-4b8d-b384-9b8ef0875fc3 #s-Button_10 {
  position: absolute;
  top: 581px;
  left: 25px;
  width: 129px;
  height: 22px;
  background-color: #CCCCCC;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Rockwell,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 12.0pt;
}
#s-f3f06f39-12d9-4b8d-b384-9b8ef0875fc3 #s-Button_10 .valign {
  vertical-align: middle;
}
#s-f3f06f39-12d9-4b8d-b384-9b8ef0875fc3 #s-Button_11 {
  position: absolute;
  top: 525px;
  left: 25px;
  width: 307px;
  height: 22px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Rockwell,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 11.0pt;
}
#s-f3f06f39-12d9-4b8d-b384-9b8ef0875fc3 #s-Button_11 .valign {
  vertical-align: middle;
}
#s-f3f06f39-12d9-4b8d-b384-9b8ef0875fc3 #s-Rectangle_2 {
  position: absolute;
  top: 255px;
  left: 35px;
  width: 294px;
  height: 318px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(left,#FFFFFF,#B4D7FE 50%,#FFFFFF);
  background-image: -webkit-linear-gradient(left,#FFFFFF,#B4D7FE 50%,#FFFFFF);
  background-image: -webkit-gradient(linear,left top,right top,color-stop(0%,#FFFFFF), color-stop(50%,#B4D7FE), color-stop(100%,#FFFFFF));
  background-image: -o-linear-gradient(left,#FFFFFF,#B4D7FE 50%,#FFFFFF);
  background-image: linear-gradient(to right,#FFFFFF,#B4D7FE 50%,#FFFFFF);
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 0px 10px 1px #404040;
  text-shadow: none;
  display: none;
  font-size: 16.0pt;
  font-family: Rockwell,Arial;
}
#s-f3f06f39-12d9-4b8d-b384-9b8ef0875fc3 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f3f06f39-12d9-4b8d-b384-9b8ef0875fc3 #s-Rectangle_2 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: Rockwell,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-f3f06f39-12d9-4b8d-b384-9b8ef0875fc3 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: Rockwell,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-f3f06f39-12d9-4b8d-b384-9b8ef0875fc3 #s-Label_6 {
  position: absolute;
  top: 459px;
  left: 169px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  color: #7D7D7D;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 28.0pt;
}
#s-f3f06f39-12d9-4b8d-b384-9b8ef0875fc3 #s-Label_6 .valign {
  vertical-align: middle;
}
#s-f3f06f39-12d9-4b8d-b384-9b8ef0875fc3 #s-Button_12 {
  position: absolute;
  top: 581px;
  left: 199px;
  width: 129px;
  height: 22px;
  background-color: #CCCCCC;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Rockwell,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 12.0pt;
}
#s-f3f06f39-12d9-4b8d-b384-9b8ef0875fc3 #s-Button_12 .valign {
  vertical-align: middle;
}
.ui-page {
  overflow-x: hidden;
}
#s-f3f06f39-12d9-4b8d-b384-9b8ef0875fc3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}