#s-f3f06f39-12d9-4b8d-b384-9b8ef0875fc3 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f3f06f39-12d9-4b8d-b384-9b8ef0875fc3 #s-Rich_text_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-f3f06f39-12d9-4b8d-b384-9b8ef0875fc3 #s-Button_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 99px;
  height: 30px;
  -ms-transform: rotate(0.0deg);
}
#s-f3f06f39-12d9-4b8d-b384-9b8ef0875fc3 #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-f3f06f39-12d9-4b8d-b384-9b8ef0875fc3 #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-f3f06f39-12d9-4b8d-b384-9b8ef0875fc3 #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-f3f06f39-12d9-4b8d-b384-9b8ef0875fc3 #s-Button_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 307px;
  height: 22px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-f3f06f39-12d9-4b8d-b384-9b8ef0875fc3 #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #314B85;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #314B85;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #314B85;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #314B85;
  -ms-transform: rotate(0.0deg);
}
#s-f3f06f39-12d9-4b8d-b384-9b8ef0875fc3 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-f3f06f39-12d9-4b8d-b384-9b8ef0875fc3 #s-Button_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 129px;
  height: 22px;
  -ms-transform: rotate(0.0deg);
}
#s-f3f06f39-12d9-4b8d-b384-9b8ef0875fc3 #s-Button_11 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 307px;
  height: 22px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-f3f06f39-12d9-4b8d-b384-9b8ef0875fc3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}