#s-f5ae4f09-ada8-4bc9-9add-ed9eec97e0d0 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f5ae4f09-ada8-4bc9-9add-ed9eec97e0d0 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-f5ae4f09-ada8-4bc9-9add-ed9eec97e0d0 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-f5ae4f09-ada8-4bc9-9add-ed9eec97e0d0 #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 108px;
  height: 22px;
  -ms-transform: rotate(0.0deg);
}
#s-f5ae4f09-ada8-4bc9-9add-ed9eec97e0d0 #s-Button_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 142px;
  height: 22px;
  -ms-transform: rotate(0.0deg);
}
#s-f5ae4f09-ada8-4bc9-9add-ed9eec97e0d0 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-f5ae4f09-ada8-4bc9-9add-ed9eec97e0d0 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}