#s-f957a617-0f34-426d-ac82-98793f0be11b #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80) ;
  filter: alpha(opacity=80) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f957a617-0f34-426d-ac82-98793f0be11b #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f957a617-0f34-426d-ac82-98793f0be11b #s-Rich_text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f957a617-0f34-426d-ac82-98793f0be11b #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f957a617-0f34-426d-ac82-98793f0be11b #s-Button_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f957a617-0f34-426d-ac82-98793f0be11b #s-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-f957a617-0f34-426d-ac82-98793f0be11b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}