#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Rectangle_22 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Label_460 {
  -ms-transform: rotate(0.0deg);
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Label_125 {
  -ms-transform: rotate(0.0deg);
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Rectangle_52 {
  -ms-transform: rotate(0.0deg);
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Label_423 {
  -ms-transform: rotate(0.0deg);
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Label_457 {
  -ms-transform: rotate(0.0deg);
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Label_177 {
  -ms-transform: rotate(0.0deg);
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Ellipse_13 {
  -ms-transform: rotate(0.0deg);
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Ellipse_141 {
  -ms-transform: rotate(0.0deg);
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Ellipse_142 {
  -ms-transform: rotate(0.0deg);
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Ellipse_143 {
  -ms-transform: rotate(0.0deg);
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Ellipse_144 {
  -ms-transform: rotate(0.0deg);
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Label_496 {
  -ms-transform: rotate(0.0deg);
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Label_178 {
  -ms-transform: rotate(0.0deg);
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Ellipse_9 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  filter: alpha(opacity=30);
  -ms-transform: rotate(0.0deg);
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Ellipse_3 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 4px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Rich_text_79 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Label_42 {
  -ms-transform: rotate(0.0deg);
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Label_466 {
  -ms-transform: rotate(0.0deg);
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Rectangle_21 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #157EFB;
  border-radius: 7px 0px 0px 7px;
  padding-top: 4px;
  padding-right: 0px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 35px;
  height: 30px;
  -ms-transform: rotate(0.0deg);
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Rectangle_23 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-radius: 0px 7px 7px 0px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 11px;
  width: 139px;
  height: 30px;
  -ms-transform: rotate(0.0deg);
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Triangle_4 {
  -ms-transform: rotate(180.0deg);
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Label_440 {
  -ms-transform: rotate(0.0deg);
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Pin-red {
  -ms-transform: rotate(0.0deg);
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}