#s-ff363b89-45d4-443c-84c3-b537a9c39c0d > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Maps-screen {
  position: absolute;
  top: 9px;
  left: 0px;
  width: 360px;
  height: 631px;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Image_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 631px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Maps-header {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 59px;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Rectangle_22 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 58px;
  background-color: #F6F6F6;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Rectangle_22 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Rectangle_22 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Rectangle_22 span#rtr-s-Rectangle_22_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Input_14 {
  position: absolute;
  top: 23px;
  left: 45px;
  padding-left: 25px;
  width: 239px;
  height: 22px;
  background-color: #EAEAEA;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EAEAEA;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EAEAEA;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EAEAEA;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EAEAEA;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  box-shadow: none;
  text-shadow: none;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Input_14 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Input_14 input {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Label_460 {
  position: absolute;
  top: 21px;
  left: 8px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #007DFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 25.0pt;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Label_460 .valign {
  vertical-align: middle;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Label_125 {
  position: absolute;
  top: 24px;
  left: 325px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #157EFB;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Label_125 .valign {
  vertical-align: middle;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Group_36 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 19px;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Rectangle_52 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 17px;
  background-color: #F6F6F6;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Rectangle_52 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Rectangle_52 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Rectangle_52 span#rtr-s-Rectangle_52_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Label_423 {
  position: absolute;
  top: 3px;
  left: 41px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 12.0pt;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Label_423 .valign {
  vertical-align: middle;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Label_457 {
  position: absolute;
  top: 2px;
  left: 287px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 11.0pt;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Label_457 .valign {
  vertical-align: middle;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Label_177 {
  position: absolute;
  top: 0px;
  left: 141px;
  width: 78px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 9.0pt;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Label_177 .valign {
  vertical-align: middle;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Group_69 {
  position: absolute;
  top: 7px;
  left: 4px;
  width: 34px;
  height: 6px;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Ellipse_13 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Ellipse_13 .content {
  width: 6px;
  height: 6px;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Ellipse_13 {
  position: absolute;
  top: 0px;
  left: 21px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #shapewrapper-s-Ellipse_13 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #shapewrapper-s-Ellipse_13 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #shapewrapper-s-Ellipse_13 span#rtr-s-Ellipse_13_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Ellipse_141 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Ellipse_141 .content {
  width: 6px;
  height: 6px;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Ellipse_141 {
  position: absolute;
  top: 0px;
  left: 28px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #shapewrapper-s-Ellipse_141 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #shapewrapper-s-Ellipse_141 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #shapewrapper-s-Ellipse_141 span#rtr-s-Ellipse_141_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Ellipse_142 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Ellipse_142 .content {
  width: 6px;
  height: 6px;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Ellipse_142 {
  position: absolute;
  top: 0px;
  left: 14px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #shapewrapper-s-Ellipse_142 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #shapewrapper-s-Ellipse_142 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #shapewrapper-s-Ellipse_142 span#rtr-s-Ellipse_142_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Ellipse_143 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Ellipse_143 .content {
  width: 6px;
  height: 6px;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Ellipse_143 {
  position: absolute;
  top: 0px;
  left: 7px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #shapewrapper-s-Ellipse_143 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #shapewrapper-s-Ellipse_143 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #shapewrapper-s-Ellipse_143 span#rtr-s-Ellipse_143_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Ellipse_144 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Ellipse_144 .content {
  width: 6px;
  height: 6px;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Ellipse_144 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #shapewrapper-s-Ellipse_144 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #shapewrapper-s-Ellipse_144 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #shapewrapper-s-Ellipse_144 span#rtr-s-Ellipse_144_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Label_496 {
  position: absolute;
  top: 0px;
  left: 327px;
  width: 27px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 20.0pt;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Label_496 .valign {
  vertical-align: middle;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Label_178 {
  position: absolute;
  top: 0px;
  left: 288px;
  width: 50px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 9.0pt;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Label_178 .valign {
  vertical-align: middle;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Map-location {
  position: absolute;
  top: 217px;
  left: 163px;
  width: 149px;
  height: 147px;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Ellipse_9 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 149px;
  height: 147px;
  position: absolute;
  overflow: hidden;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Ellipse_9 .content {
  width: 149px;
  height: 147px;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Ellipse_9 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 149px;
  height: 147px;
  background-color: #157EFB;
  background-image: none;
  opacity: 0.3;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #shapewrapper-s-Ellipse_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #shapewrapper-s-Ellipse_9 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #shapewrapper-s-Ellipse_9 span#rtr-s-Ellipse_9_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Ellipse_3 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 19px;
  height: 18px;
  position: absolute;
  overflow: hidden;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Ellipse_3 .content {
  width: 19px;
  height: 18px;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Ellipse_3 {
  position: absolute;
  top: 64px;
  left: 65px;
  width: 19px;
  height: 18px;
  background-color: #157EFB;
  background-image: none;
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 4px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #shapewrapper-s-Ellipse_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #shapewrapper-s-Ellipse_3 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #shapewrapper-s-Ellipse_3 span#rtr-s-Ellipse_3_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Tab-bar3 {
  position: absolute;
  top: 586px;
  left: 0px;
  width: 360px;
  height: 44px;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Rich_text_79 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 40px;
  background-color: #F6F6F6;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Rich_text_79 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Rich_text_79 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Rich_text_79 span#rtr-s-Rich_text_79_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Label_42 {
  position: absolute;
  top: 3px;
  left: 9px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #157EFB;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 30.0pt;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Label_42 .valign {
  vertical-align: middle;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Label_466 {
  position: absolute;
  top: 8px;
  left: 316px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #007DFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 22.0pt;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Label_466 .valign {
  vertical-align: middle;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Group_67 {
  position: absolute;
  top: 382px;
  left: 23px;
  width: 194px;
  height: 46px;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Rectangle_21 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 35px;
  height: 30px;
  background-color: #157EFB;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #157EFB;
  border-radius: 7px 0px 0px 7px;
  padding-top: 4px;
  padding-right: 0px;
  padding-bottom: 4px;
  padding-left: 4px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 6px;
  font-size: 7.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Rectangle_21 .valign {
  vertical-align: bottom;
  text-align: center;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Rectangle_21 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 7.0pt;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Rectangle_21 span#rtr-s-Rectangle_21_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 7.0pt;
  line-height: 0px;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Rectangle_23 {
  position: absolute;
  top: 0px;
  left: 39px;
  padding-left: 11px;
  width: 139px;
  height: 30px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-radius: 0px 7px 7px 0px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Rectangle_23 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Rectangle_23 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Rectangle_23 span#rtr-s-Rectangle_23_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Triangle_4 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 28px;
  height: 15px;
  position: absolute;
  overflow: hidden;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Triangle_4 .content {
  width: 28px;
  height: 15px;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Triangle_4 {
  position: absolute;
  top: 32px;
  left: 79px;
  width: 28px;
  height: 15px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #shapewrapper-s-Triangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #shapewrapper-s-Triangle_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #shapewrapper-s-Triangle_4 span#rtr-s-Triangle_4_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Label_440 {
  position: absolute;
  top: 3px;
  left: 7px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 18.0pt;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Label_440 .valign {
  vertical-align: middle;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Pin-red {
  position: absolute;
  top: 433px;
  left: 101px;
  width: 30px;
  height: 38px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Label_3 {
  position: absolute;
  top: 539px;
  left: 293px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 36.0pt;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Label_3 .valign {
  vertical-align: middle;
}
.ui-page {
  overflow-x: hidden;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}