#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Rectangle_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Label_460 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Label_125 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Rectangle_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Label_423 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Label_457 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Label_177 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Ellipse_13 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Ellipse_141 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Ellipse_142 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Ellipse_143 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Ellipse_144 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Label_496 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Label_178 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Ellipse_9 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  filter: alpha(opacity=30);
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Ellipse_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Rich_text_79 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Label_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Label_466 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Rectangle_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Rectangle_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Triangle_4 {
  rotation: 180.0;
  margin-left: 0px;
  margin-top: -1px;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Label_440 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Pin-red {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-ff363b89-45d4-443c-84c3-b537a9c39c0d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}